<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <title>Template do Luiz Almeida</title>
    <!-- Favicons -->
    <link href="~/img/favicon.png" rel="icon">
    <link href="~/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Bootstrap core CSS -->
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--external css-->
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/style-responsive.css" rel="stylesheet">

</head>


    <body>
        <section id="container">
            <!-- **********************************************************************************************************************************************************
                TOP BAR CONTENT & NOTIFICATIONS
                *********************************************************************************************************************************************************** -->
            <!--header start-->
            <header class="header black-bg">
                <div class="sidebar-toggle-box">
                    <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Navegador"></div>
                </div>
                <!--Inicio da Logo-->
                <a href="~/" class="logo"><b>Luiz <span>Almeida</span></b></a>
                <!--Fim da Logo-->

                <div class="top-menu">
                    <ul class="nav pull-right top-menu">
                        <li><a class="logout" href="login.html">Sair</a></li>
                    </ul>
                </div>
            </header>
            <!--header end-->
            <!--Comeco do Menu-->
            <aside>
                <div id="sidebar" class="nav-collapse ">
                    <!-- Inicio menu lateral-->
                    <ul class="sidebar-menu" id="nav-accordion">
                        <p class="centered"><a href="~/"><img src="~/img/juninho.jpg" class="img-circle" width="80"></a></p>
                        <h5 class="centered">Luiz Almeida</h5>
                        <li class="mt">
                            <a href="~/">
                                <i class="fa fa-dashboard"></i>
                                <span>Luiz Almeida</span>
                            </a>
                        </li>
                        <li class="sub-menu">
                            <a href="javascript:;">
                                <i class="fa fa-desktop"></i>
                                <span>Funcionarios</span>
                            </a>
                            <ul class="sub">
                                <li><a href="~/Funcionarios">Busca</a></li>
                                <li><a href="~/Funcionarios/Create">Cadastrar</a></li>
                                <li><a href="~/Departamentos">Departamentos</a></li>
                            </ul>
                        </li>

                    </ul>
                    <!-- Fim do Menu-->
                </div>
            </aside>
            <!--sidebar end-->
            <!-- **********************************************************************************************************************************************************
                MAIN CONTENT
                *********************************************************************************************************************************************************** -->
            <!--main content start-->
            <section id="main-content">
                @RenderBody()
                <!-- /wrapper -->
            </section>
            <!-- /MAIN CONTENT -->
            <!--main content end-->
            <!--Inicio do Rodape-->
            <footer class="site-footer">
                <div class="text-center">
                    <p>
                        &copy; Copyrights <strong>Luiz Almeida</strong>.Todos os direitos reservados
                    </p>
                </div>
            </footer>
            <!--Fim do Rodape-->
        </section>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
        <!-- js placed at the end of the document so the pages load faster -->
        <script src="lib/jquery/jquery.min.js"></script>

        <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
        <script class="include" type="text/javascript" src="~/lib/jquery.dcjqaccordion.2.7.js"></script>
        <script src="~/lib/jquery.scrollTo.min.js"></script>
        <script src="~/lib/jquery.nicescroll.js" type="text/javascript"></script>
        <!--common script for all pages-->
        <script src="~/lib/common-scripts.js"></script>
        <!--script for this page-->

    </body>

</html>