@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<selection class="wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="content-panel" style="padding:20px">

                <div>
                    <center><h1>Bem vindo !!!</h1> </center>

                </div>

            </div>
        </div>
    </div>
</selection>




